html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-top: 20px;
}

.score_wrap, .time-input{
  background: rgba(255,255,255,0.2);
  display: inline-grid;
  vertical-align: text-bottom;
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
  outline: 0;
}

.time-input{
  padding: 0 1rem;
  font-size: 30px;
  width: 80px;
  display: flex;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  height: -webkit-fill-available;
}

.input-wrap{
  display: flex;
  flex-direction: row;
}

.subs{
  font-size: 30px;
  font-weight: normal;
}

legend{
  height: 64px;
  position: relative;
  bottom: 23px;
  font-size: 20px;
  font-weight: bolder;
}

.start_wrap{
  display: flex;
  margin: 20px auto 0 auto;
  width: 800px;
  justify-content: space-evenly;
}

button {
  background: rgba(255,255,255,0.2);
  padding: 5px 20px;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.game {
  width: 600px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.mole.anim{
  animation:rot 0.5s ease-in-out infinite;
}

.sound{
  width: 64px;
  height: 64px;
  background-image:url(sound.png) ;
  background-size: 40px, 40px, contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sound.off{
  background-image:url(sound_no.png) ;
}

@keyframes rot{
  0%{
    transform: rotate(0deg);
  }
  10%{
    transform: rotate(-45deg);
  }
  20%{
    transform: rotate(45deg);
  }
  30%{
    transform: rotate(-30deg);
  }
  40%{
    transform: rotate(30deg);
  }
  50%{
    transform: rotate(-15deg);
  }
  60%{
    transform: rotate(15deg);
  }
  70%{
    transform: rotate(-5deg);
  }
  80%{
    transform: rotate(5deg);
  }
  100%{
    transform: rotate(0deg);
  }

  }



.hole.up .mole {
  top: 0;
}
